<h1> <%= $player_1.name %> VS. <%= $player_2.name %> </h1>
<br>
<h2>Score: <%= $player_1.name %> = <%= $player_1.round_wins %> rounds,
<%= $player_2.name %> = <%= $player_2.round_wins %> rounds
</h2>
<br>
<a href="/play"> Proceed To Play Round
